@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.hero {
	text-align: center;
	margin-top: 2rem;
}

.about-hero,
.service-hero,
.review-hero,
.contact-hero {
	margin-top: 2rem;
}

.about,
.service,
.review,
.contact {
	background-color: var(--clr-light);
	color: var(--clr-dark);
}
